body{
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#caixaCabecalho, #caixaPlacar, #caixaJogo{
    margin-left: 50%;
    transform: translate(-50%, 0%);
}

#caixaCabecalho, #caixaPlacar{
    width: 350px;
    height: 70px;
    margin-bottom: 30px;
    margin-top: 20px;
}

#caixaCabecalho{
    text-align: center;
    min-height: 50px;
}

#nomeJogo{
    font-size: 5em;
    font-weight: bold;
    margin: 0;
}

#caixaPlacar{
    display: none;
    flex-direction: row;
    margin-bottom: 30px;
}

#logoTime1, #numGolsTime1, #iconeX, #numGolsTime2, #logoTime2{
    width: 20%;
}

#logoTime1{
    background-image: url("../images/placar/flalogo.png");
}

#numGolsTime1{
    background-image: url("../images/placar/0.png");
}

#iconeX{
    background-image: url("../images/placar/x.png");
}

#logoTime2{
    background-image: url("../images/placar/flulogo.png");
}

#numGolsTime2{
    background-image: url("../images/placar/0.png");
}

#caixaJogo{
    width: 1000px;
}

#caixaRodape{
    text-align: center;
    min-height: 30px;
    margin-top: auto;
}

#creditos{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    font-weight: bold;
}